{% extends 'carrot_app/index.html'%}

{%block titulo%}
<title> Bienvenidos </title>

{% endblock titulo%}

{%block content%}

            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">About Me</span>
                    <span class="section-heading-lower">Hola! Mi nombre es Laura Beltrán</span>
                </h2>
            
                <p class="mb-3">Estoy incursionando en IT a través de mi primer curso de Python, esta página que ven acá es mi primer proyecto. 
                    Soy profesinal en gastronomía, así que el mundo de la programación es muy nuevo para mí. Me gustaría seguir capacitandome
                    y poder trabajar en esta área.</p>

                    <span class="section-heading-upper">Gracias por tu visita!</span>
                
       
{% endblock content%}