{% extends 'carrot_app/index.html'%}

{%block titulo%}
<title> Avatar </title>

{% endblock titulo%}

{%block content%}


            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Avatar</span>
                    <span class="section-heading-lower">Elige tu Avatar</span>
                </h2>
                <form action="{% url 'agregar_avatar' %}" method="post" enctype="multipart/form-data">
            
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                <input type="submit" value="Actualizar Avatar">
            </form>   
            </div>
{% endblock content%}