{% extends 'carrot_app/index.html' %}

{% block titulo %}
<title> Cambio de Contraseña </title>
{% endblock titulo %}

{% block content %}
<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Contraseña</span>
                    <span class="section-heading-lower">Cambia tu contraseña</span>
                </h2>
                <form action="" method="post">
                    {% csrf_token %}
                    <table>
                        {{ form.as_table }}
                    </table>
                    <input type="submit" value="Cambiar">
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}