{% extends "carrot_app/index.html" %}


{% block titulo %}
<h1 class="mb-5">Eliminar Item</h1>
{% endblock titulo %}

{% block content %}
<h2></h2>
<form action="" method="POST">
    {% csrf_token %}   
    <div class="intro-text left-0 text-center bg-faded p-5 rounded">    
        <h3>¿Está seguro de eliminar el item? <p style="color:orangered">{{ object }}</p> </h3>
        <input type="submit" class="btn btn-primary btn-block" value="Confirmar">
    </div>
   
       
</form>
{% endblock content %}