{% extends 'carrot_app/index.html'%}

{%block titulo%}
<title> Bienvenidos </title>

{% endblock titulo%}

{%block content%}
<img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'assets/img/intro.jpg'}" alt="..." />
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Capacitaciones</span>
                    <span class="section-heading-lower">Capacitaciones Form</span>
                </h2>
                <form action="{% url 'capacitaciones_create' %}" method = "post">
                    
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                <input type="submit" value="Guardar">
            </form>   
            </div>
{% endblock content%}