{% extends 'carrot_app/index.html'%}

{%block titulo%}
<title> Bienvenidos </title>

{% endblock titulo%}

{%block content%}
<img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="assets/img/intro.jpg" alt="..." />
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Cursos</span>
                    <span class="section-heading-lower">Carrot Nana Academy</span>
                </h2>
                <p class="mb-3">Cursos presenciales y online para aprender o perfeccionar tus técnicas</p>
                <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="{% url 'cursos_form' %}">Mira nuestros próximos cursos!</a>
                    
                        <tbody>
                            {% for c in cursos %}
                            <tr>
                                <td>{{ c.id }}</td>
                                <td>{{ c.nombre }}</td>
                                <td>{{ c.aula}}</td>                           
                            
                            </tr>
                            {% endfor %}
                        </tbody>
                
                </div>
            </div>



{% endblock content%} 