{% extends 'carrot_app/index.html'%}

{%block titulo%}
<title> Bienvenidos </title>

{% endblock titulo%}

{%block content%}

            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Capacitaciones</span>
                    <span class="section-heading-lower">Carrot Nana Academy</span>
                </h2>
            
                <p class="mb-3">Capacitate con Carrot Nana Academy, aprende o perfecciona tus habilidades</p>
                <div class="intro-button mx-auto">
                    <a class="btn btn-primary btn-xl" href="{% url 'capacitaciones_form' %}">Inscribete!</a>
                    <a class="btn btn-primary btn-xl" href="{% url 'capacitaciones_curso' %}">Cambio de aula</a>
                </div>
       
{% endblock content%}



