{% extends 'carrot_app/index.html'%}

{%block titulo%}
<title> Bienvenidos </title>

{% endblock titulo%}

{%block content%}

            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Capacitaciones</span>
                    <span class="section-heading-lower">Capacitaciones Form</span>
                </h2>
                <form action="{% url 'capacitaciones_create' %}" method = "post">
                    
                {% csrf_token %}
                <tr>
                    <th><label for="id_nombre">Nombre:</label></th>
                    <td>
                        <select name="nombre" id="id_nombre">
                            <option value="Hojaldre">Hojaldre</option>
                            <option value=">Deco Tortas">Deco Tortas</option>
                            <option value="Ganache">Ganache</option>
                            <option value="Butter Cream">Butter Cream</option>
                            <option value="Masas Pesadas">Masas Pesadas</option>
                            <option value="Merengues">Merengues</option>
                            <option value="Sable">Sable</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th><label for="id_aula">Aula:</label></th>
                    <td>
                        
                        <select name="aula" id="id_aula">
                            <option value="Aula 505/Sab 10 am">Aula 505/Sab 10 am</option>
                            <option value="Aula 504/Lun 11 am">Aula 504/Lun 11 am</option>
                            <option value="Aula 503/Mart 10 am">Aula 503/Mart 10 am</option>
                            
                        </select>
                    </td>
                </tr>
            </table>
                <input type="submit" value="Guardar">
            </form>   
            </div>
{% endblock content%}