{% extends 'carrot_app/index.html'%}

{%block titulo%}
<title> Bienvenidos </title>

{% endblock titulo%}

{%block content%}
<img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="assets/img/intro.jpg" alt="..." />
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Catering</span>
                    <span class="section-heading-lower">Mis Eventos</span>
                </h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Evento</th>
                            <th>Presupuesto</th>  
                            <th>Pax</th>                  
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for c in catering  %}
                        <tr>
                            <td>{{ c.id }}</td>
                            <td>{{ c.evento }}</td>
                            <td>{{ c.presupuesto }}</td>
                            <td>{{ c.pax }}</td>
                            
                            
                            <td>
                                <a
                                  href="{% url 'catering_update' c.id %}"
                                  class="btn btn-primary"
                                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                                  ><i class="fa fa-edit fa-sm" title="Edit Record"></i>
                                </a>
                                <a
                                  href="{% url 'catering_delete' c.id %}"
                                  class="btn btn-danger"
                                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                                  ><i class="fa fa-trash fa-sm" title="Delete Record"></i>
                                </a>                
                            </td>  
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>       
            </div>
{% endblock content%}