{% extends 'carrot_app/index.html'%}

{%block titulo%}
<title> Bienvenidos </title>

{% endblock titulo%}

{%block content%}


            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Catering</span>
                    <span class="section-heading-lower">Catering Form</span>
                </h2>
                <form action="{% url 'catering_create' %}" method = "post">

                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                <input type="submit" value="Guardar">
            </form>   
            </div>
{% endblock content%}